Lecture*/*_files*
*DS_Store
*__MACOSX*
*Icon*
*.Rhistory
*NotInGit*
/.quarto/
_freeze
*.ipynb
Lecture-1-Artificial-Intelligence/random-moves
Lecture-1-Artificial-Intelligence/chess-first-move/
Lecture-1-Artificial-Intelligence/chess-no-pawn-move/
Lecture-1-Artificial-Intelligence/initial-loss
Lecture-1-Artificial-Intelligence/win
Lecture-1-Artificial-Intelligence/optimise-batch-size
Lecture-1-Artificial-Intelligence/optimise-num-hidden-units
Lecture-2-Deep-Learning-Keras/StoryWall 2 Dataset/
Lecture-4-Network-Architectures-For-Tabular-Data/french-motor.csv
Lecture-5-Recurrent-Neural-Networks-And-Time-Series/StoryWall 5 Dataset/
Lecture-6-Computer-Vision/mandarin.zip
Lecture-6-Computer-Vision/mandarin/ 
Lecture-6-Computer-Vision/mandarin-split/ 
Lecture-6-Computer-Vision/california-features.csv
Lecture-6-Computer-Vision/california-target.csv
Lecture-6-Computer-Vision/bayesian-search
Lecture-6-Computer-Vision/random-search
Lecture-7-Natural-Language-Processing/french-motor.csv
Lecture-8-Generative-Networks/mandarin-split/
Lecture-9-Advanced-Topics/data/

