Lecture*/*_files*
*DS_Store
*__MACOSX*
Icon?
*.Rhistory
/.quarto/
_freeze
*.keras
node_modules/
Admin/
Lectures/.jupyter_cache
Lectures/optuna-artifacts
Lectures/CASIA-Dataset/
Lectures/california-features.csv
Lectures/california-target.csv
Lectures/bayesian-search/
Lectures/random-search/
Lectures/teachable-machines/
Lectures/lemmas.csv
Lectures/capitals-house-price-index.csv
Lectures/sa3-capitals-house-price-index.csv
Lectures/University of NSW Market Trends - 20210818T145801.csv
Lectures/unused-images
Labs/.jupyter_cache
Labs/nn-lab-tikz
Labs/BNN_raw.png
Labs/train.csv
Labs/linechart.png
Exercises/.jupyter_cache
Exercises/NotInGit
*.Rproj
.Rproj.user
manim
/.luarc.json

**/*.quarto_ipynb
