project:
  title: "AI for Actuaries"
  type: website
  render:
    - "*.qmd"
    - "!*.ipynb"
    - "!*.md"
  output-dir: docs
  post-render:
    - scripts/remove_require_js.py
    - scripts/decktape_pdfs.py

website:
  title: "AI for Actuaries"
  page-navigation: true
  sidebar:
    contents:
      - href: index.qmd
        text: Home
      - section: "Module 1"
        contents:
          - Artificial-Intelligence/course-overview.qmd
          - Artificial-Intelligence/artificial-intelligence.qmd
          - Artificial-Intelligence/python.qmd
          - Labs/python-lab.qmd
          - Labs/python-for-data-science-lab.qmd
          - Exercises/chess-ai.qmd
      - section: "Module 2"
        contents:
          - Tabular-Data/deep-learning-keras.qmd
          - Tabular-Data/categorical-variables.qmd
          - Tabular-Data/classification.qmd
          - Tabular-Data/project.qmd
          - Labs/matplotlib-lab.qmd
          - Exercises/victorian-crash-severity.qmd
          - Exercises/french-motor-frequency.qmd
      - section: "Module 3"
        contents:
          - Computer-Vision/computer-vision.qmd
          - Labs/latex-lab.qmd
          - Exercises/hurricane-damage.qmd
      - section: "Module 4"
        contents:
          - Natural-Language-Processing/natural-language-processing.qmd
          - Exercises/police-reports.qmd
      - section: "Module 5"
        contents:
          - Time-Series-And-Recurrent-Neural-Networks/time-series-and-rnns.qmd
          - Exercises/sydney-airport-temperature.qmd
      - section: "Module 6"
        contents:
          - Advanced-Tabular-Data/entity-embedding.qmd
          - Advanced-Tabular-Data/optimisation.qmd
          - Labs/forward-pass-lab.qmd
          - Labs/optimisation-lab.qmd
          - Labs/backpropagation-lab.qmd
      - section: "Module 7"
        contents:
          - Distributional-Regression/distributional-regression.qmd
          - Advanced-Topics/interpretability.qmd
          - Labs/distributional-regression-lab.qmd
      - section: "Module 8"
        contents:
          - Generative-Networks/generative-networks.qmd
          - Generative-Networks/gans.qmd
      - section: "Module 9"
        contents:
          - Advanced-Topics/next-steps.qmd

format:
  html:
    theme: [serif, shared.scss, html-style.scss]
    toc: true
    shift-heading-level-by: 1

  revealjs:
    output-ext: "slides.html"
    theme: [serif, shared.scss, revealjs-style.scss]
    controls: true
    controls-tutorial: true
    logo: unsw-logo.png
    transition: none
    slide-number: c/t
    preview-links: false
    margin: 0.10
    width: 1000
    chalkboard:
      boardmarker-width: 4
      grid: false
      background:
        - "rgba(255,255,255,0.0)"
        - "https://github.com/rajgoel/reveal.js-plugins/raw/master/chalkboard/img/blackboard.png"
    history: false
    code-annotations: none
    include-before-body:
      text: |
        <script>
          let selectedAnnoteEl;
        </script>
    filters:
      - reveal-auto-agenda
    auto-agenda:
      heading: Lecture Outline

subtitle: ACTL3143 & ACTL5111 Deep Learning for Actuaries
author: Patrick Laub
strip-comments: true
html-math-method: katex
highlight-style: blue-pygments.theme
syntax-definitions:
  - python.xml
pdf-engine: pdflatex
execute:
  echo: true
  freeze: false
  daemon: false