/*-- scss:defaults --*/

$body-bg: #ffffff;
$link-color: #d94827;

$presentation-font-size-root: 32px;
$presentation-heading-font-weight: 400;

$mainColor: #383D3D;
$headingColor: #383D3D;

// Fonts taken from https://kazuyanagimoto.com/blog/2022/12/27/quarto_tips/
@import url(https://fonts.googleapis.com/css?family=Montserrat:300,300i&display=swap);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap);
@import url(https://fonts.googleapis.com/css?family=Fira+Mono&display=swap);

$font-family-sans-serif: Montserrat, sans-serif !default;
$font-family-monospace: "Fira Mono", monospace  !default;
$presentation-heading-font: "Josefin Sans", sans-serif !default;

/*-- scss:rules --*/

#title-slide {
    .subtitle {
        margin-top: 1.5rem;
        margin-bottom: 0;
    }
}

.katex { font-size: 1.0em !important; }

/* Add some space around the code chunks */
.cell-code {
    margin: 10px !important;
}

/* Make sure the code outputs aren't too big vertically */
.cell-output {
    max-height: 600px !important;
    overflow-y: auto !important;
}

.reveal h1 {
    text-align: center;
}

.reveal section img {
    border: 0px;
    padding: 10px;
    /* box-shadow: 0 0 10px rgb(0 0 0 / 15%) */
}

/* In the R/Python tabsets, make the font for these options smaller. */
.reveal .panel-tabset .panel-tabset-tabby li a {
    font-size: 0.7em;
}

/* This is for executed blocks, like: ```{python} ... */
.reveal pre code code {
    max-height: 600px !important;  
    // overflow-x: hidden !important;
    // white-space: pre-wrap !important;
}

/* This is for unexecuted blocks, like: ```python ... */
.reveal pre.sourceCode code {
    max-height: 600px !important; 
    background-color: #f0f1eb; /* Set the background of code chunks to be grey. */
}

/* Make the line numbers in a code chunk grey. */
pre.numberSource code > span > a:first-child::before {
    color: #aaaaaa;
}

.reveal .slide-background-content {
    width: 90%;
    background-size: contain;
}

.aligned-column {
    vertical-align: middle !important;
}

.reveal .slide-logo {
    max-height: 80px !important;
    right: 7px !important;
}

// Add a yellow bar to the right of the slide.
.slide-background::after {
   content: "";
   position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 100%;
    background: #fedc00;
    @media (max-width: 900px) {
        width: 0px;
    }
}

// Put in the background yellow shape for the title slide & top-level slides.
.slide-background.level1::before, .slide-background.quarto-title-block::before  {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 100px;
    z-index: -1; /* Place it behind the actual content */
    clip-path: polygon(10% 70%, 70% 5%, 95% 40%, 80% 80%, 30% 95%, 10% 70%);
    background: #fedc00;
  }