/*-- scss:defaults --*/

/*-- scss:rules --*/

/* Add some space around the code chunks */
.cell-code {
    margin: 10px !important;
}

/* Make sure the code outputs aren't too big vertically */
.cell-output {
    max-height: 600px !important;
    overflow-y: auto !important;
}

/* Add some space between the columns (this is what Quarto's revealjs is doing) */
.columns>.column>:not(ul, ol) {
  margin-left:.25em;
  margin-right:.25em
}

.columns>.column:first-child>:not(ul, ol) {
  margin-right:.5em;
  margin-left:0
}

.columns>.column:last-child>:not(ul, ol) {
  margin-right:0;
  margin-left:.5em
}

/* Make sure images don't dominate the page */
img {
  max-height: 450px;
  max-width: 85%;
}