/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

$font-family-sans-serif: "Playfair Display", serif !default;
$font-family-monospace: "Fira Code", monospace !default;
/* This should be in revealjs-style.scss but it crashed */
$presentation-heading-font: $font-family-sans-serif;

/* Inline code */
$code-bg: transparent;
$code-color: #0055cc;