@import url("https://cdn.jsdelivr.net/npm/@fontsource/alegreya-sans@4.4.5/400.css");
@import url("https://cdn.jsdelivr.net/npm/@fontsource/alegreya-sans@4.4.5/500.css");
@import url("https://cdn.jsdelivr.net/npm/@fontsource/alegreya-sans@4.4.5/700.css");
@import url("https://cdn.jsdelivr.net/npm/@fontsource/alegreya-sans@4.4.5/400-italic.css");
@import url("https://cdn.jsdelivr.net/npm/@fontsource/alegreya-sans@4.4.5/500-italic.css");
@import url("https://cdn.jsdelivr.net/npm/@fontsource/alegreya-sans@4.4.5/700-italic.css");

.reveal,
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  font-family: Alegreya Sans !important;
}

.reveal .slides section:first-child {
  min-height: 0 !important; }


.slide-background {
  background:url('unsw_bg_bottom.png');
  background-size:cover;
	background-position: right bottom;
	/* the following are for firefox 70 */
	opacity:1;
	z-index:1;
}

.slide-background:first-child {
  background:url('unsw_bg_1b.jpg');
  background-size:cover;
  background-position: top left;
}

.container{
    display: flex;
}
.col{
    flex: 1;
}

.reveal section img {
  border: 0px;
  padding: 10px;
}
