/*-- scss:defaults --*/

$body-bg: #ffffff;
$link-color: #d94827;

$presentation-font-smaller: 0.85;
$presentation-heading-font-weight: 400;
$presentation-h1-font-size:	2em;

$mainColor: #383D3D;
$headingColor: #383D3D;


$font-family-sans-serif: "Book Antiqua", Palatino,
  FreeSerif, serif !default;
// headings
$presentation-heading-font: "Book Antiqua", Palatino,
  FreeSerif, serif !default;

/*-- scss:rules --*/

.reveal .slides div.smaller {
    font-size: 0.7em;
}

#title-slide {
    .subtitle {
        margin-top: 1.5rem;
        margin-bottom: 0;
    }
}

.katex { font-size: 1.0em !important; }

.reveal h1 {
    text-align: center;
}

.reveal section img {
    border: 0px;
    padding: 10px;
    /* box-shadow: 0 0 10px rgb(0 0 0 / 15%) */
  }
  
.reveal .cell-code {
    margin-top: 10px !important;
}

.reveal .cell-output {
    margin-top: 10px !important;
}

.reveal pre code code {
    max-height: 600px !important;  /* This is for executed blocks, like: ```{python} ... */
    // overflow-x: hidden !important;
    // white-space: pre-wrap !important;
}

.reveal .slide-logo {
    max-height: 80px !important;
    right: 7px !important;
}

/* Set the background of code chunks to be grey. */
.reveal pre.sourceCode code {
    max-height: 600px !important; /* This is for unexecuted blocks, like: ```python ... */
    background-color: #f0f1eb;
}

/* Make the line numbers in a code chunk grey. */
pre.numberSource code > span > a:first-child::before {
    color: #aaaaaa;
}

.reveal .slide-background-content {
    width: 90%;
    background-size: contain;
}

.aligned-column {
    vertical-align: middle !important;
}


// Put in the background yellow shape for the title slide.
.slide-background.level1::before, .slide-background.quarto-title-block::before  {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 100px;
    z-index: -1; /* Place it behind the actual content */
    clip-path: polygon(10% 70%, 70% 5%, 95% 40%, 80% 80%, 30% 95%, 10% 70%);
    background: #fedc00;
}

.slide-background::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 100%;
    background: #fedc00;
    @media (max-width: 900px) {
        width: 0px;
    }
}
