/*-- scss:defaults --*/

$body-bg: #ffffff;
$link-color: #d94827;

$presentation-heading-font-weight: 400;
$presentation-h1-font-size:	2em;

$mainColor: #383D3D;
$headingColor: #383D3D;

/*-- scss:rules --*/

.reveal .slides div.smaller {
    font-size: 0.7em;
}

#title-slide {
    .subtitle {
        margin-top: 1.5rem;
        margin-bottom: 0;
    }
}

.MathJax_Display {
    margin: 0.9em 0em !important;
}

.reveal h1 {
    text-align: center;
}

.reveal section img {
    border: 0px;
    padding: 10px;
    /* box-shadow: 0 0 10px rgb(0 0 0 / 15%) */
  }
  
.reveal .cell {
    margin-bottom: 20px !important;
}

// .reveal .cell-output {
//     margin-top: 10px !important;
// }

// .reveal pre.sourceCode code {
//     max-height: 600px !important;
//     // overflow-x: hidden !important;
//     // white-space: pre-wrap !important;
// }

.reveal .slide-logo {
    max-height: 80px !important;
    right: 7px !important;
}

/* Set the background of code chunks to be grey. */
.reveal pre.sourceCode code {
    background-color: #f0f1eb;
}

/* Make the line numbers in a code chunk grey. */
pre.numberSource code > span > a:first-child::before {
    color: #aaaaaa;
}

.reveal .slide-background-content {
    width: 90%;
    background-size: contain;
}

.aligned-column {
    vertical-align: middle !important;
}

/* To get the right-hand side coloured bar; adapted from: */
/* https://revealjs-themes.dzello.com/css/theme/sunblind.css */

.line {
    content: '';
    position: fixed;
    background: #fedb00;
    z-index: 0;
}

.line.right {
    left: auto;
    right: 0;
    top: 0;
    width: 100px;
    height: 200%;
    @media (max-width: 1020px) {
        width: 0px;
    }
}

.reveal.has-dark-background .line {
    display: none;
}