chess
directory-tree
gensim 
graphviz
ipykernel
ipython
ipywidgets
jupyter
keras
keras-tuner
matplotlib
numpy
pandas
pyarrow
scikit-learn
scipy
seaborn
spacy
split-folders
statsmodels
sympy
tabulate
tensorflow[and-cuda]>=2.16; platform_system=="Linux"
tensorflow>=2.16; platform_system!="Linux"
tensorflow_probability
tf-keras
tqdm
transformers
watermark
pydot
