directory-tree
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.1/en_core_web_sm-3.4.1-py3-none-any.whl
gensim 
graphviz
ipykernel
ipython
ipywidgets
jupyter
keras>=3.1
keras-tuner
matplotlib
numpy
pandas
pyarrow
scikit-learn
scipy==1.11.0 # Due to gensim issue which is already fixed, waiting for minor patch update https://github.com/piskvorky/gensim/issues/3525
seaborn
spacy
split-folders
statsmodels
sympy
tabulate
tensorflow[and-cuda]>=2.16; platform_system!="Darwin"
tensorflow>=2.16; platform_system=="Darwin"
tensorflow_probability
tf-keras>=2.16
torch>=2
torchvision
tqdm
transformers
watermark
pydot
